.mobile-links {
    color: Black;
    position: absolute;
    top: 70%;
    right: 11%;
    font-size: 16px;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    transition: .3s ease-in-out;
    border: none;
    border-radius: 3px;
    padding: .3rem .4rem;
}